:root {
    --accent-color: 230, 210, 190;
    --light-accent: 255, 251, 240;
    --background: 220, 185, 150;
    --color: 255, 255, 255;
}

body {
    background-color: rgb(var(--background));
    color: rgb(var(--color));
    margin: 0;

    font-family: "stevie-sans", "Avenir", system-ui, "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, .header {
    font-family: "palast-variable", Georgia, "Times New Roman", serif;
}

[hidden] {
    display: none !important;
}

*::selection {
    background-color: Highlight;
    color: HighlightText;
}

a {
    color: var(--light-accent);
}