body > header {
    background-color: rgb(var(--accent-color));
    background-image: url("../images/pexels-215906.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-height: 512px;
    height: 40vw;
    z-index: 1;
}

body > header:before {
    content: "";
    position: absolute;
    background-image: url("../images/BrewBarnLogo.svg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: 40vw;
    backdrop-filter: blur(5px) brightness(0.6);
    max-height: 512px;
    height: 40vw;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1350px) {
    body > header:before {
        background-size: 575px;
    }
}